
<div *ngIf="products">
  <div class="col-5 list-inline-item" *ngFor="let p of products._embedded.products">

      <div class="bd-highlight mb-5 ml-5">

          <div class="card card-default">

            <div class="card-header text-white text-center" style="background: indianred ; font-weight: bold">{{p.name}}</div>

            <div class="card-body">
              
              <table>
                <tr>
                  <td rowspan="3">
                    <img height="100" src="{{this.catalogueService.host + '/products/photoProduct/' + p.id}}" alt="">
                  </td>
                </tr>

                <p>
                  <button (click)="onEditPhoto(p)">
                    <img width="20px" src="assets/svg/pencil.svg" alt="pencil">
                  </button>
                </p>
                <p *ngIf="editPhoto==true && currentProduct == p">
                  <input type="file" (change)="onSelectedFile($event)">
                  <button style="margin-top: 10px" class="btn btn-success" (click)="uploadPhoto()">Upload la photo</button>
                </p>


                <tr>
                  <td></td>
                  <td>{{p.description}}</td>
                </tr>

                <tr>
                  <td></td>
                  <td>{{p.currentPrice | number : '0.2'}}</td>
                </tr>


              </table>

            </div>

          </div>
      </div>
  </div>
</div>







